@import url('http://fonts.cdnfonts.com/css/georgia');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*DECLARACIÓN DE LAS VARIABLES Y ESTILOS PRINCIPALES*/

:root {
    font-size: 16px;
	--font-titulo: 'Georgia', sans-serif;
	--font-parrafo: 'Raleway', sans-serif;
	--rosa: #A22245;
	--blanco: #fff;
	--negro: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-parrafo);
}

/*============================================
=            SECCIÓN DE EDUCACIÓN            =
============================================*/
.educacion {
	display: flex;
	height: calc(50vw * 80 / 100);
}

.educacion__imagen {
	width: 50%;
}

.educacion__img {
	width: 80%;
	object-fit: cover;
	float: right;
}

.educacion__texto {
	width: 40%;
	padding: 2%;
	overflow: auto;
}

.educacion__texto::-webkit-scrollbar {
	width: 10px;
}
.educacion__texto::-webkit-scrollbar-thumb{
	width: 10px;
	background   : var(--rosa);
	border-radius: 10px;
}

.educacion__titulo, .jovenes__titulo {
	font-size     : 2rem;
	font-weight   : 800;
	color: var(--rosa);
}

.educacion__parrafo, .educacion__lista, .jovenes__parrafo {
	margin: 1.25rem 0;
}

.educacion__subtitulo {
	font-size     : 1.5rem;
	font-weight   : 600;
	color: var(--rosa);
}

.educacion__elemento {
	position       : relative;
	display        : block;
	padding        : .4vw .4vw .4vw 2vw;
	margin         : .5vw 0;
	background     : #ddd;
	color          : #444;
	text-decoration: none;
	border-radius  : .3vw;
	transition     : all .3s ease-out; 
}

.educacion__elemento:hover {
	background: #eee;
}

.educacion__elemento::before {
	content      : url(imagen-fantasma);
	position     : absolute; 
	left         : -1.3vw;
	top          : 50%;
	margin-top   : -1.3vw;
	background   : var(--rosa);
	height       : 2vw;
	width        : 2vw;
	line-height  : 2vw;
	border       : .3vw solid #fff;
	text-align   : center;
	font-weight  : bold;
	border-radius: 2vw;
	transition   : all .3s ease-out;
}

/*=====  End of SECCIÓN DE EDUCACIÓN  ======*/

/*============================================
=        SECCIÓN DE JOVENES EN CASA        =
============================================*/

.espacio {
	height: 10vh;
}
.jovenesCasa {
	display: flex;
	padding: 2rem;
}

.jovenes__texto {
	width: 50%;
	padding: 0 5%;
}

.jovenes__titulo {text-align: center;}

.jovenes__slider {
	align-self: center;
	background-color: var(--rosa);
    border-radius: 10px;
	width          : 50%;
	height: 31rem;
	position: relative;
	list-style     : none;
	display        : flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
.jovenes__video {
	position: absolute;
	top       : 10%;
	left: 5%;
	width     : 90%;
	height    : 80%;
	opacity   : 0;
	border-radius: 10px;
	box-shadow: 30px -30px 0px rgba(255, 255, 255, 0.274);
	transition: all 0.7s;
}
.jovenes__input[type="radio"] {
	display: none;
}
.jovenes__input[type="radio"]:checked ~ .jovenes__video {
	opacity: 1;
	z-index: 10;
}
.jovenes__input[type="radio"] + .jovenes__label {
	position     : relative;
	z-index      : 50;
	margin       : 1rem;
	cursor       : pointer;
	display      : block;
	width        : 20px;
	height       : 20px;
	background   : var(--blanco);
	border-radius: 50%;
	border       : 2px solid var(--rosa);
}
.jovenes__input[type="radio"]:checked + .jovenes__label {
	background: var(--rosa);
	border    : 2px solid var(--blanco);
}

/*=====  End of SECCIÓN DE JOVENES EN CASA  ======*/
